@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Figtree", sans-serif;
    font-weight: 500;
}

p{
    font-size: 16px;
}

:root{
    --sarı:hsl(47, 88%, 63%);
    --beyaz: hsl(0, 0%, 100%);

    --gri-500: hsl(0, 0%, 42%);
    --gri-950: hsl(0, 0%, 7%);
}

.container{
    width: 100vw;
    height: 100vh;
    background-color: var(--sarı);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.icerik{
    width: 420px;
    background-color: var(--beyaz);
    border-radius: 20px;
    padding: 25px;
    border: solid 2px var(--gri-950);
    box-shadow: 10px 10px 0px 0px var(--gri-950);
}

.kod-resim img{
    border-radius: 20px;
    height: 100%;
    width: 100%;
    margin-bottom: 15px;
}

.learning{
    padding: 10px;
    background-color: var(--sarı);
    border-radius: 5px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 15px;
}

.published{
    margin-bottom: 20px;
}

.baslik{
    font-weight: 800;
    margin-bottom: 20px;
}

.baslik:hover{
    color: var(--sarı);
    cursor: pointer;
}

p{
    color: var(--gri-500);
    margin-bottom: 25px;
}

.kisi-bilgi{
    display: flex;
    align-items: center;
}

.kisi-bilgi img{
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

@media(max-width:375px){
    .container{
        padding:20px ;
    }
    
    h1{
        font-size: 25px;
    }

    p{
        font-size: 13px;
    }
}